 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap'); 

a:link { 
    text-decoration: none; 
    color: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:active { 
    text-decoration: none; 
    color: bl;
}

*{
    padding: 0;
    margin: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
}

header .logo{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: aqua;
}


header > li {
    display: inline-block;
}

header .navbar {
    display: flex;
}

header .navbar ul{
    display: flex;
    margin-right: 100px;
}

header .navbar ul li {
    list-style: none;
}

header .navbar ul li a{
    font-size: 20px;
    margin: 10px;
    color: black;
}

header .navbar .icons a{
    font-size: 20px;
    margin: 5px;
    color: gray;
}

header .navbar a:hover {
    color: aqua;
}

header .icons a {
    vertical-align: middle;
}

.Searchbar {
    width: 400px;
}

.Searchbar input {
    font-size: 20px;
}


.home {
    
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

.home .slide-container {
    display: flex;
    justify-content: center;
}

.service .service-container {
    display: flex;
    justify-content: space-around;
}

.service .service-container .boxicon{
    text-align: center;
}

.service .service-container .boxicon i{
    font-size: 40px;
}
  
.service .service-container .boxicon h3{
    font-size: 25px;
    color: orange;
}

.products {
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
}

.products .product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 100px;
}

.products .product-container .sanpham .sp img{
    height: 25rem;
}

.products .product-container a:hover {
    border: 10px;
}

.products .product-container .sanpham .stars i {
    color: yellow;
}

.footer {
    top: 0;
    left: 0;
    right: 0;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
}

.footer .box-container{
    display: flex;
    justify-content: space-around;
}

.footer .box-container .contact{
    display: flex;
}
